<div class = "container-fluid">
	<div class = "span3">
		<h3> Contents</h3>
			<ul class="nav nav-tabs nav-stacked">
			<% @manual.chapters.each do |chapter|%>
			  <li><%= link_to chapter.title, manual_chapter_path(chapter)%></li>
			<% end %>
			</ul>
	</div>
	<div class = "span9">
			<%= button_to "New Chapter", new_manual_chapter_path(@manual), :class => "btn btn-primary pull-right", :method => :get %>
			<h1> SDC Manual</h1>
			<% if @chapter.nil? == false%>
			<%= render :template => "chapters/show",:chapter => @chapter%>
			<% end %>
	</div>
</div>